
section#favourites-container{
    background-color: #f7fefa;
    padding: 20px 0;
}

section#favourites-container header h2{
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--main-green);
}

section#favourites-container ul li p #star-icon{
    color: var(--main-green)
}

section#favourites-container ul#material-list li p button.star-btn:hover #star-icon{
    color: #aaa;
}
