
table{
    width: 100%;
}

table tbody tr{
    padding-top: 20px;
    font-size: 1.2em
}

table tbody tr td:first-child{
    width: 45%;
    cursor: pointer;
    position: relative;
    padding: 0 15px 0 35px;
}

table tbody tr td:last-child{
    width: 55%;
}

table tbody tr td #star-icon{
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    font-size: 1.4em;
    color: #aaa
}

table tbody tr td #star-icon.favorited{
    color: var(--main-green)
}
