
ul#material-list{
    width: 100%;
}

ul#material-list li.row{
    font-size: 1.2em;
    width: 100%;
    display: flex;
    flex-direction: row
}

ul#material-list li.row:not(:first-child){
    padding-top: 35px;
}

ul#material-list li p:first-child{
    width: 45%;
    cursor: pointer;
    position: relative;
    padding-left: 35px;
}

ul#material-list li p:last-child{
    width: 55%;
}

ul#material-list li p #star-icon{
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    font-size: 1.4em;
    color: #aaa
}

ul#material-list li p #star-icon.favorited{
    color: var(--main-green)
}
