
ul.material-list{
    width: 100%;
}

ul.material-list li.row{
    font-size: 1.1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul.material-list li.row:not(:last-child){
    margin-bottom: 50px;
}

div.name{
    width: 42%;
    position: relative;
    padding-left: 35px
}

div.name h2{
    font-size: 1.1em;
    font-weight: normal
}

button #star-icon{
    color: #aaa;
    font-size: 1.9em;
}

button #star-icon.favorited{
    color: var(--main-green)
}

button.star-btn{
    top: 0;
    left: 0;
    border: none;
    cursor: pointer;
    position: absolute;
    background-color: transparent;
}

button.star-btn:hover #star-icon{
    color: var(--main-green);
}

button.star-btn:hover #star-icon.favorited{
    color: #aaa
}

div.description{
    width: 55%;
}

div.description ul li{
    position: relative;
    padding-left: 15px;
}

div.description ul li:not(:last-child){
    padding-bottom: 20px
}

div.description ul li:before{
    content: "• ";
    position: absolute;
    left: 0;
}

div.description a:hover{
    text-decoration: underline
}
